.leaderboard-body {
    background-image: linear-gradient(to bottom, #43a5ef, #dae8f4);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#body-no-header {
    display: flex;
    flex-direction: row;
    padding: 2em;
    gap: 2em;
    flex: 1;
}

h1, h3 {
    text-align: center;
    margin-top: 0;
}

#middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 1rem;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 1rem;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    gap: 1rem;
}

.small_leaderboad_container {
    background-color: #2295ee;
    box-shadow: 0 0 1em #0005;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
}

.big_leaderboad_container {
    background-color: #2295ee;
    box-shadow: 0 0 1em #0005;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
}

.leaderboard_member {
    background-color: #0005;
    box-shadow: 0 0 1em #0005;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 1em;
}

#leaderboard-header {
    height: 10%;
}

#header-icon {
    width: 15%;
    height: auto;
}

.leaderboard_member_flex {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

/* Belt Colors */
.belt_color_0 {
    color: white;
}

.belt_color_1 {
    color: #ebbc5e;
}

.belt_color_2 {
    color: #dc6b37;
}

.belt_color_3 {
    color: #a7ca36;
}

.belt_color_4 {
    color: #4670bd;
}

.belt_color_5 {
    color: #8b3b95;
}

.belt_color_6 {
    color: #54321f;
}

.belt_color_7 {
    color: #8b3b95;
}

.belt_color_8 {
    color: #010607;
}



/* <h1>Leaderboard</h1>
<div id="top_left_leaderboard_container" class="small_leaderboad_container"></div>
<div id="bottom_left_leaderboard_container" class="small_leaderboad_container"></div>
<div id="main_leaderboard_container" class="big_leaderboad_container"></div>
<div id="top_right_leaderboard_container" class="small_leaderboad_container"></div>
<div id="bottom_right_leaderboard_container" class="small_leaderboad_container"></div> */