.body-no-header{
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    overflow: hidden;
}

#main_icon {
    width: 30%;
    bottom: 0;
    position: relative;
    opacity: 1;
    transition: bottom 1s ease-out, opacity 0.5s ease-out;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    top: 0;
    position: relative;
    opacity: 1;
    transition: top 1s ease-out, opacity 0.5s ease-out;
}