body {
    background: linear-gradient(to right, #151d44, #11162b);
    color: #EEE;
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
}

button:hover, input[type="checkbox"] {
    cursor: pointer;
}


.invisible_input {
    position: absolute;
    opacity: 0;
}

.header {
    height: 20vh;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#header-icon{
    width: 10%;
}

